@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

a {
    color: #6e6e6e;
}


/* Unique Clases */
.custom-width{
    width: 1170px;
}

.custom-d-flex {
    display: flex;
}

.custom-d-flex-col {
    flex-direction: column;
}

.custom-j-cen {
    justify-content: center;
}

.custom-j-sb {
    justify-content: space-between;
}

.custom-j-sa {
    justify-content: space-around;
}

.custom-a-cen {
    align-items: center;
}

.d-fd-col{
    flex-direction: column;
}

/* ------------ */

.custom-container {
    background-color: #191919;
}

.custom-nav {
    width: 1170px;
    height: 40px;
    background-color: #191919;
}

.custom-left-icons {
    margin-top: 2px;
    font-size: 17px;
}

.custom-left-icons a{
    margin-right: 15px;
}

.custom-left-icons i {
    color: #6e6e6e;
}


.vertical-line-divider {
    height: 20px;
    width: 1px;
    background-color: #6e6e6e;
}

.custom-right-icons {
    color: #6e6e6e;
    margin-top: 3px;
    font-size: 12px;
}

.custom-right-icons i {
    font-size: 19px;
}

.custom-right-icons p {
    margin-top: 2px;
}

.custom-right-icons div{
    margin-right: 10px;
}

a{
    text-decoration: none;
}


.sign-container p {
    margin-left: 4px;
    margin-top: 3px;
    color: #6e6e6e;
    font-weight: 600;
}

.language-container {
    width: 64px;
}

.language-container p {
    margin-left: 4px;
    font-weight: 600;
    margin-top: 3px;
}

/* ----------------------- */

header{
    overflow-x: hidden;
}

.custom-bottom-nav {
    background-image: url(public/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    align-items: center;
    padding-bottom:65px;
}

.bottom-nav-list{
    margin-top: 17px;
}

.bottom-nav-list h1{
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 1px;
    letter-spacing: 2px;
}

.all-nav-list{
    margin-left: 109px;
}

.active-bar{
    border-bottom: 4px solid #893250;
    height: 40px;
}

.all-nav-list span{
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}


.all-nav-list a{
    display: flex;
    color: white;
    font-size: 15px;
    letter-spacing: 1.3px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 0px;
    margin-right: 15px;
    margin-top: 1px;
}

.all-nav-list i{
    padding: 0;
    margin: 0;
}

.all-nav-list a > i{
    color: white;
    margin-top: 3px;
    font-size:20px;
    width: 14px;
}



.nav-list-icons{
    margin-left: 9px;
    margin-top: 2px;
}

.nav-list-icons a{
    color: white;
}

.nav-list-icons a:first-child{
    margin-top: 4px;
    height: 32px;
    width: 27px;
}

.nav-list-icons a:nth-child(2){
    margin-left: 8px;
    margin-top: 1px;
    padding: 4px;
    padding-left: 12px;
    width: 30px;
    height: 22px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.nav-list-icons a:last-child{
    margin-top: 4px;
    margin-left: 15px;
}

.bottom-mid-content{
    margin-top: 212px;
}

.bottom-mid-content h2{
    margin-left: 331px;
    font-size: 21px;
    color: white;
}

.bottom-mid-content h1{
    width: 100%;
    letter-spacing: 1.8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    color: white;
    margin-top: 13px;
    height: 38px;
}

.content-second{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 28px;
}

.bottom-mid-content button{
    margin-left: 317px;
    margin-top: 43px;
    padding: 12px;
    padding-left: 25px;
    padding-right: 27px;
    border-radius: 1.2rem;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: #2f3f9f;
    color: white;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

.bottom-lower-content{
    margin-top: 80px;
}

.bottom-lower-content img{
    margin-left: 36px;
}

.bottom-lower-content p{
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

.bottom-lower-content a > p:nth-child(2){
    margin-top: 11px;
    margin-left: 18px;
    letter-spacing: 1px;
}

.bottom-lower-content a > p:nth-child(3){
    font-weight: 500;
    color: #6e6e6e;
    margin-top: 9px;
    margin-left: 10px;
}

.navbar-comment-container{
    font-size: 13px;
    margin-top: 31px;   
    width: 250px;
    margin-left: 10px;
}

.comment-image , .like-image{
    font-size: 18px;
    color: white;
    margin-top: 1px;
}

.navbar-comment-container span{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    letter-spacing: .4px;
}

.like-image{
    margin-left: 28px;
}

.header-like span{
    margin-top: 2px;
    font-size: 13px;
    margin-left: 2px;
}

/* --------------------------------------------------------- */

.custom-sort-container{
    background-color: #ffffff;
}

.sort-blog-container{
    width: 1170px;
    background-color: #ffffff;
    font-size: 7px;
    padding: 20px;
    padding-left: 11px;
    padding-top: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.sort-blog-container ul{
    list-style: none;
}

.sort-blog-container ul > li{
    padding: 10px;
    padding-left: 25px;
    padding-right: 31px;
    padding-bottom: 6px;
    border-radius: 1.2rem;
    background-color: #f0f0f0;
}


.sort-blog-list li{
    font-weight: bolder;
}


.sort-blog-list li:first-child{
    margin-left: 27px;
    border: 1px solid #99a3d8;
    color: #99a3d8;
    margin-right: 15px;
}

.sort-blog-list li:not(:first-child){
    margin-right: 10px;
    font-size: 12px;
    padding-top: 9px;
}

.sort-blog-container h2{
    margin-top: 10px;
    font-size: 11px;
    margin-left: 1px;
}

/* ------------------------------------------------------ */



.body-container{
    margin-top: 30px;
}

.body-content-container{
    background-color: #f0f0f0;
}

.main-blog-img{
    background-image: url(/public/main-blog.png);
    background-repeat: no-repeat;
    width: 824px;
    height: 421px;
    flex-direction: column;
    margin-left: 1px;
}

.main-blog-img > i{
    font-size: 63px;
    color: white;
    margin-top: 179px;
    margin-bottom: 140px;
}

.img-content p{
    color: white;
    font-size: 12px;
    width: 100%;
    background-color: white;
}

.main-blog-content{
    padding: 13px;
    padding-left: 21px;
    border-bottom: 1px solid #dfdfdf;
}

.main-blog-content h1{
    font-size: 18px;
}

.main-blog-content p{
    margin-top: 5px;
    width: 800px;
    line-height: 27px;
}

.main-blog-details{
    flex-direction: column;
    padding: 6px;
    padding-left: 10px;
}

.main-blog-details p{
    font-size: 12px;
    padding-top: 8px;
}

.main-blog{
    border-bottom: 1px solid #dfdfdf;
    width: 819px;
    background-color: white;
}

.main-blog-user{
    padding: 19px;
    padding-left: 20px;
    padding-bottom: 21px;
}

.main-blog-user i{
    align-self: center;
    margin-left: 605px;
    font-size: 20px;
}
/* Verticals blogs */

.vertical-blogs{
    flex-direction: column;
}

.card-blog{
    margin-top: 20px;
}

.card-img-props{
    background-repeat: no-repeat;
    width: 58%;
    height: 166px;
}

.card-blog-img1{
    background-image: url('/public/vertical-card1.png');
}

.card-blog-img2{
    background-image: url('/public/vertical-card2.png');
}

.card-blog-img3{
    background-image: url('/public/vertical-card3.png');
}

.card-blog-content{
    border-bottom:1px solid #dfdfdf;
    background-color: white;
}

.card-blog-content h4{
    padding-left: 18px;
    padding-top: 10px;
}

.card-blog-content > p{
    padding-top: 9px;
    padding-left: 17px;
    font-size: 15px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
}

.card-blog-user{
    margin-top: 10px;
    margin-left: 20px;
    justify-content: space-between;
    width: 520px;
}

.card-blog-user a > div{
    margin-left: 12px;
    margin-top: 6px;
}

.card-blog-user a > div > p{
    font-size: 12px;
    margin-top: 7px;
}

.card-blog-user > i{
    /* margin-left: 358px;    
    margin-top: 17px; */
    align-self: center;
    font-size: 20px;
}

.card-image-play{
    margin-top: 60px;
    margin-left: 108px;
    font-size: 48px;
    color: white;
}
.blog-caption{
    color: white;
    font-size: 12px;
    margin-top: 26px;
}

.card-img-icons{
    margin-top: 23px;
}

.activity-cnt{
    font-size: 12px;
    color: white;
}

/* Horizontal blogs */


.blog-img-props{
    background-repeat: no-repeat;
    width: 262px;
    height: 160px;
}

.horizontal-blog1{
    margin-top: 20px;
}

.hr-image-play{
    margin-top: 56px;
    margin-left: 108px;
    margin-bottom: 3.1px;
    font-size: 48px;
    color: white;
}

.hr-blog-content{
   border-bottom: 1px solid #dfdfdf;
   width: 240px;
   padding-top: 12px;
   padding-left: 20px ;
   background-color: white;
}

.hr-blog-content h5{
    line-height: 1.4rem;
    letter-spacing: 1px;
}

.hr-blog-content p{
    font-size: 14px;
    margin-top: 11px;
    line-height: 20px;
    margin-bottom: 28px;
}

.hr-blog-user{
    justify-content: space-between;
    width: 225px;
    background-color: white;
    padding: 15px;
    padding-left: 20px;
}

.hr-blog-user a h5{
    margin-top: 5px;
    margin-left: 10px;
}

.hr-blog-user a p{
    margin-left: 10px;
    font-size: 13px;
    margin-top: 7px;
}

.hr-blog-user i{
    font-size: 21px;
    margin-top: 18px;
}

.hr-blog-img1{
    background-image: url('/public/hcard1-image1.png');
}

.hr-blog-img2{
    background-image: url('/public/hcard2-image.png');
}

.hr-blog-img3{
    background-image: url('/public/hcard3-image.png');
}

.hr2-blog-img1{
    background-image: url('/public/bottom-image-1.png');
}

.blog-img-props2{
    background-repeat: no-repeat;
    width: 400px;
    height: 303px;
}

.hr-blog1{
    width: 400px;
    margin-top: 23px;
}


.hr-blog-content1{
    border-bottom: 1px solid #dfdfdf;
    width: 240px;
    padding-top: 12px;
    padding-left: 20px ;
    background-color: white;
    width: 380px;
    padding-bottom: 7px;
 }
 
 .hr-blog-content1 h4{
     line-height: 1.3rem;
     letter-spacing: 1.7px;
 }
 
 .hr-blog-content1 p{
     font-size: 15px;
     margin-top: 10px;
     line-height: 20px;
     margin-bottom: 28px;
 }

 .hr-blog-user1{
    justify-content: space-between;
    width: 225px;
    background-color: white;
    padding: 15px;
    padding-left: 20px;
    width: 365px;
}

.hr-user-content{
    margin-left: 8px;
    margin-top: 5px;
}

.hr-user-content p{
    font-size: 12px;
    margin-top: 8px;
    margin-left: 1px;
}

.hr-blog-user1 i{
    font-size: 21px;
}

.img-txt1{
    margin-top: 243px;
    margin-left: 19px;
}

.hr-img-icons{
    margin-left: 212px;
    margin-top: 24px;
}

.hr2-blog-img2{
    background-image: url(/public/bottom-image-2.png);
}

/*------------------------------------------------  */

.right-body-container{
    width: 450px;
    height: 100px;
    background-color: red;
    margin-left: 40px;
}