@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

a {
    color: #6e6e6e;
}


/* Unique Clases */
.custom-width {
    width: 1170px;
}

.custom-d-flex-j-cen {
    display: flex;
    justify-content: center;
}

.custom-d-flex-j-sb {
    display: flex;
    justify-content: space-between;
}

.custom-d-flex-j-sa {
    display: flex;
    justify-content: space-around;
}

.custom-flex-a-cen-j-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-flex-y-a-cen-j-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.custom-flex-a-cen-j-sa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-flex-a-cen-j-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-d-flex-x {
    display: flex;
    flex-direction: row;
}

.custom-d-flex-y {
    display: flex;
    flex-direction: column;
}

.custom-d-flex-a-cen {
    display: flex;
    align-items: center;
}

/* ------------ */

.custom-container {
    background-color: #191919;
}

.custom-nav {
    width: 1170px;
    height: 40px;
    background-color: #191919;
}

.custom-left-icons {
    margin-top: 2px;
    font-size: 17px;
}

.custom-left-icons a {
    margin-right: 10px;
}

.custom-left-icons i {
    color: #6e6e6e;
}

a {
    text-decoration: none;
}

/*  */
.right-icons a {
    color: #707070;
    outline: none;
    text-decoration: none;
}


.right-icons {
    color: #8b8b8b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .account-circle {
    font-size: 19px;
}

.sign-in-icon {
    margin-bottom: 1px;
    margin-right: .2px;
    gap: 4px;
    display: flex;
    line-height: 23px;
}


.SIGN-IN {
    font-size: 12px;
    font-weight: 600;
}


.language-icon {
    font-size: 19px;
    margin-bottom: 2px;
}

.eng-icon {
    margin-top: 3px;
    font-size: 12px;
}

.expand-more-icon {
    margin-left: 1px;
    font-size: 20px;
    margin-bottom: 1px;
}

.line {
    border-left: 1px solid #6c6c6c;
    height: 20px;
    margin-top: 3.2px;
    display: flex;
}

.sign-in {
    margin-top: 3px;
}

.language {
    margin-top: 3px;
    display: flex;
    align-items: center;
}


.language-icon {
    margin-bottom: 2px;
    display: flex;
}

.expand-more {
    font-size: 23px;
} */

.social-link {
    color: #8b8b8b;
}

.header-text-color {
    font-size: 12px;
    font-weight: 600;
    color: #8b8b8b;
    margin-top: 1px;
}

.account_circle {
    font-size: 20px;
}

.header-right {
    color: #8b8b8b;
    display: flex;
    align-items: center;
}


.header-right-acc a {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.header-right-acc {
    padding-top: 1px;
}

.header-right-acc a span {
    margin-right: 5.5px;
}

.header-right-lang a {
    display: flex;
    align-items: center;
}

.header-right-lang {
    padding-top: 1px;
}

#text-sign-in {
    word-spacing: 2px;
}

#account_circle {
    font-size: 19px;
}

#lang-icon {
    font-size: 19px;
    margin-right: 5.5px;
    margin-left: 10px;
}

#keyboard-arrow-down {
    font-size: 19px;
}

#expand_more {
    width: 15.5px;
    font-size: 20px;
}

.fa-angle-down {
    font-size: 12px;
}

.pipe {
    margin-left: 2px;
    margin-top: 2px;
    height: 20px;
    border-left: 1px solid #8b8b8b;
}



/* ----------------------- */

header {
    border-bottom: 1px solid #dfdfdf;
}

.custom-bottom-nav {
    background-image: url(public/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
}

.bottom-nav-list {
    margin-top: 17px;
}

.bottom-nav-list h1 {
    font-size: 23px;
    color: #e2e2e2;
    margin-top: 1px;
    letter-spacing: 1px;
}

.bottom-nav-list>a {
    margin-right: 25px;
}

.nav-list-container {
    margin-left: 90px;
}

.active-bar {
    border-bottom: 4px solid #b93664;
    height: 40px;
}

.all-nav-list span {
    margin-top: 4px;
    font-weight: bolder;
    letter-spacing: .1px;
    margin-left: 3px;
}


.all-nav-list a {
    display: flex;
    color: #e2e2e2;
    font-size: .9rem;
    padding: 4px;
    padding-left: 9px;
    margin-right: 12px;
    margin-top: 1px;
    font-weight: 600;
}

.all-nav-list i {
    padding: 0;
    margin-left: 5px;
}

.all-nav-list a>i {
    color: #e2e2e2;
    margin-top: 3px;
    font-size: 20px;
    width: 14px;
}

.nav-list-icons {
    margin-left: 32px;
    margin-top: 2px;
}

.nav-list-icons a {
    color: #e2e2e2;
}

.nav-list-icons a:first-child {
    margin-top: 5px;
    height: 32px;
    padding-right: 3.3px;
}

.nav-list-icons a:nth-child(2) {
    margin-left: 8px;
    margin-top: 1px;
    padding: 4px 9px 4px 12px;
    height: 22px;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

.nav-list-icons a:last-child {
    margin-top: 4px;
    margin-left: 15px;
}

.bottom-mid-content {
    margin-top: 212px;
    flex-direction: column;
}

.bottom-mid-content h2 {
    margin-left: 5.4px;
    font-weight: 500;
    font-size: 20.994px;
    color: #b9b9b9;
}

.bottom-mid-content div {
    width: 80%;
}

.bottom-mid-content h1 {
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 43px;
    color: #e2e2e2;
    margin-top: 13px;
    text-align: center;
    line-height: 51px;
}


.bottom-mid-content button {
    margin-top: 30px;
    padding: 12px;
    margin-left: 4px;
    padding-left: 26px;
    padding-right: 29px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    background-color: #2f3f9f;
    color: #e2e2e2;
    letter-spacing: .5px;
}

.bottom-lower-content {
    margin-top: 80px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bottom-lower-content img {
    margin-bottom: 14px;
}

.bottom-lower-content a:nth-child(3) {
    margin-top: 4px;
    margin-left: 1px;
}

.header-author-name {
    letter-spacing: .2px;
    color: #e2e2e2;
    font-weight: bolder;
    font-size: 14.4px;
}

.header-author-date {
    font-weight: 500;
    color: #6e6e6e;
    font-size: 14px;
}

.navbar-comment-container {
    font-size: 13px;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
}

.navbar-comment-container a:nth-child(1) {
    padding-right: 20px;
}

.comment-image,
.like-image {
    font-size: 18px;
    color: #a0a0a0;
}

.navbar-comment-container span {
    margin-top: .3px;
    font-size: 13px;
    color: #a0a0a0;
    font-weight: 400;
    margin-left: 4px;
}

.header-like span {
    font-size: 13.1px;
}


/* --------------------------------------------------------- */

.custom-sort-container {
    background-color: #ffffff;
}

.sort-blog-container {
    width: 1170px;
    background-color: #ffffff;
    font-size: 7px;
    padding: 13px 20px 22px 11px;
    border-bottom: 1px solid #dfdfdf;
}


.sort-blog-container div>a {
    padding: 9px 22px 6px 25px;
    border-radius: 19.2px;
    background-color: #f0f0f0;
}

.sort-blog-list {
    margin-top: 10px;
}

.sort-blog-list a {
    font-weight: bolder;
    font-size: 12px;
}


.sort-blog-list a:first-child {
    margin-left: 20px;
    border: 1px solid #99a3d8;
    color: #73716f;
    margin-right: 12px;
    padding-right: 30px;
    padding-top: 7px;
}

.sort-blog-list a:not(:first-child) {
    margin-right: 15px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 27px;
}

.sort-blog-container h2 {
    margin-top: 10px;
    font-size: 12px;
    margin-left: 1px;
}

/* ------------------------------------------------------ */



.body-container {
    margin-top: 30px;
}

.body-content-container {
    background-color: #f0f0f0;
    overflow-x: hidden;
}


.main-blog-img {
    background-image: url(/public/main-blog.png);
    background-repeat: no-repeat;
    height: 420px;
    flex-direction: column;
    position: relative;
    left: 2px;
}

.main-blog-img>i {
    font-size: 63px;
    color: white;
    margin-top: 179px;
    margin-bottom: 140px;
}

.img-content p {
    color: white;
    font-size: 12px;
}

.main-blog-content {
    padding: 14px 0px 14px 21px;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
    width: 97.3%;
}

.main-blog-content h1 {
    font-size: 18px;
    padding-right: 0px;
    margin-top: 0.3px;
    letter-spacing: .6px;
}

.main-blog-content a {
    color: #000000;
}

.main-blog-content p {
    font-family: 'Open Sans';
    margin-top: 6.2px;
    line-height: 26px;
    word-spacing: .7px;
    letter-spacing: .6px;
}

.main-blog-f {
    margin-top: 0.6px;
    font-size: 17.6px;
}

.main-blog-details {
    padding: 6px;
    padding-left: 9px;
}

.main-blog-details span {
    font-size: 12px;
}

.main-blog-details h5 {
    color: #191919;
    font-size: 14.1px;
    margin-top: 2px;
    margin-bottom: 2px;
    letter-spacing: .8px;
}

.main-blog-play-icon {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -46%);
}

.main-blog-play-icon span {
    font-size: 59px;
}

.main-blog-txt {
    color: white;
    display: flex;
    position: absolute;
    /* top: 92%; */
    left: 2.2%;
}

.main-blog-img-head{
    font-size: 12.1px;
    font-weight: 500;
}

.main-head-align {
    /* top: 92.62%; */
    bottom: 16px;
}

.main-blog-align {
    left: 87.1%;
    bottom: 15px;
}


.container-comment span {
    margin-right: 19px;
}

.main-blog-txt i {
    font-size: 18px;
    margin-right: 4px;
    color: #dfdfdf;
}

.main-blog-txt:not(:nth-child(2)) span {
    font-size: 14px;
    color: #dfdfdf;
}

.main-blog {
    border-bottom: 1px solid #dfdfdf;
}

.main-blog-user {
    padding: 17.2px 6px 19px 20px;
    background-color: white;
}

.main-blog-user img {
    margin-top: 2px;
    margin-left: 2px;
}

.lke-icon {
    margin-left: 19px;
}

.dot-icon {
    align-self: center;
    justify-self: center;
    color: #000000;
    margin-top: 2px;
    margin-right: 4.8px;
}

/* Verticals blogs */

.vertical-blogs {
    flex-direction: column;
}

.card-blog:first-child {
    margin-top: 20px;
}



.card-img-props {
    background-repeat: no-repeat;
    height: 167px;
    width: 55%;
    position: relative;
    /* left: 2px; */
}

.card-blog-img1 {
    background-image: url('/public/vertical-card1.png');
}

.card-blog-img2 {
    background-image: url('/public/vertical-card2.png');
}

.card-blog-img3 {
    background-image: url('/public/vertical-card3.png');
}

.card-blog-content {
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
    height: 164px;
}

.card-blog-content a{
    color: #000000;
}

.card-blog-content h4 {
    padding-left: 20px;
    padding-top: 9px;
    letter-spacing: .4px;
}

.card-blog-content>p {
    font-family: 'Open Sans';
    padding-top: 8px;
    padding-left: 19px;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: .6px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 14px;
}

.card-blog-user {
    margin-top: 11px;
    margin-left: 21px;
    justify-content: space-between;
}

.card-dot{
    margin-right: 11px;
}

.card-blog-user div>div {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 17.9px;
    color: #191919;
}

.card-blog:not(:first-child) {
    margin-top: 19px;
}

.card-blog:last-child {
    margin-top: 18px;
}
.card-blog-user h5 {
    color: #191919;
}

.card-blog-user div>div>a>p {
    font-size: 13px;
    margin-top: 7px;
    color: #212121;
}

.card-blog-user>a {
    align-self: center;
    font-size: 21px;
    margin-top: 5px;
}

.last-card-blog {
    margin-top: .2px;
}

.vertical-blog-txt-container {
    color: white;
    margin-top: 20px;
}

.card-play-icon {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -46%);
}

.card-blog-txt {
    position: absolute;
    top: 80%;
    left: 7%;
    color: #ffffff;
}

.card-blog-align {
    top: 78.4%;
    left: 59.7%;
}

.card-blog-txt-align3 {
    top: 79.7%;
}

.likes__card {
    margin-left: 50px;
}

.card-blog-txt {
    font-size: 18.6px;
    font-weight: 100;
}

.card-play-icon span {
    font-size: 48px;
}

.card-icons-lkes {
    font-size: 18px;
    color: white;
    margin-right: 5px;
}

.activity-cnt2 {
    font-size: 14px;
    color: white;
    align-self: center;
    font-weight: 600;
    margin-top: 1px;
}

.card-blog-txt-align2 {
    top: 79.8%;
}


/* Horizontal blogs */


.blog-img-props {
    background-repeat: no-repeat;
    height: 159px;
    position: relative;
}



.horizontal-blog1 {
    margin-top: 20px;
}

.horizontal-blog1:not(:last-child) {
    margin-right: 19px;
}

.hr-image-play {
    margin-top: 55px;
    margin-left: 107px;
    margin-bottom: 4px;
    font-size: 48px;
    color: white;
}

.hr-blog-content {
    border-bottom: 1px solid #dfdfdf;
    width: 240px;
    padding-top: 12px;
    padding-left: 19.2px;
    background-color: white;
    margin-left: 2px;
}

.hr-blog-content a {
    color: #000000;
}

.hr-blog-content h5 {
    line-height: 23.8px;
    letter-spacing: .8px;
}

.hr-blog-content p {
    font-size: 14px;
    margin-top: 7px;
    line-height: 20.6px;
    margin-bottom: 26px;
}

.hr-blog-user {
    background-color: white;
    padding: 15px 9px 15px 20px;
}


.hr-dot {
    align-self: center;
    margin-top: 22px;
    font-size: 23px;
}

.img-txt {
    color: white;
    display: flex;
}

.blog-caption {
    font-size: 12px;
    margin-top: 25.2px;
    font-weight: 500;
}

.card-img-icons {
    margin-top: 24px;
}

.img-txt a {
    color: #e2e2e2;
}

.hr-img-icon1 {
    font-size: 17px;
}

.card-lke,
.card-cmnt {
    margin-left: 20px;
}

.activity-cnt1 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 4px;
}

.hr-blog-img1 {
    background-image: url('/public/hcard1-image1.png');
    left: 2px;
}

.hr-blog-img2 {
    background-image: url('/public/hcard2-image.png');
    left: 1px;
}

.hr-blog-img3 {
    background-image: url('/public/hcard3-image.png');
    left: 2px;
}

.hr2-blog-img1 {
    background-image: url('/public/bottom-image-1.png');
    left: 2px;
}

.blog-img-props2 {
    background-repeat: no-repeat;
    height: 303px;
    position: relative;
    top: 2px;
}

.hr-blog1 {
    width: 400px;
    margin-top: 19px;
}

.hr-blog1:last-child {
    margin-left: 21px;
}

.hr-card-align {
    top: 82.8%;
}

.hr-card-align1 {
    top: 82%;
}

.hr-blog-content1 {
    border-bottom: 1px solid #dfdfdf;
    padding-top: 13px;
    padding-left: 20px;
    background-color: white;
}

.hr-blog-content1 a {
    color: #000000;
}

.hr-blog-content1 h4 {
    line-height: 1.3rem;
    letter-spacing: .7px;
    margin-left: 1px;
    font-size: 18px;
}

.hr-blog-content1 p {
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 6.2px;
    line-height: 26.4px;
    margin-bottom: 12px;
}



.hr-blog-user1 {
    justify-content: space-between;
    background-color: white;
    padding: 15px 10px 15px 20px;
}

.hr-user-content {
    margin-left: 8px;
    margin-top: 5px;
}

.hr-user-content span {
    font-size: 12.4px;
    margin-left: 1px;
}

.hr-user-content h5 {
    font-size: 14.7px;
    margin-top: 1px;
    margin-left: 2px;
    font-weight: 600;
    margin-bottom: 3px;
}

.hr-blog-user1 i {
    font-size: 22px;
}

.hr-author-details {
    padding: 3px;
}

.hr-author-name {
    font-size: 14.7px;
    margin-top: 2px;
    margin-left: 8px;
    font-weight: 600;
}

.hr-author-name a {
    color: black;
}

.hr-author-date {
    font-size: 12.4px;
    margin-top: 7px;
    margin-left: 8px;
    letter-spacing: .5px;
}

.img-txt1 {
    margin-top: 243px;
    margin-left: 19px;
}

.hr-img-icons {
    margin-left: 212px;
    margin-top: 24px;
}

.hr2-blog-img2 {
    background-image: url(/public/bottom-image-2.png);
    margin-left: 1px;
}

.hr1-card-align {
    top: 88%;
    left: 4.5%;
}

.hr1-card-align1 {
    top: 87.3%;
    left: 73.4%;
}

.hr1-card-align1 .likes__card>i {
    margin-top: 2px;
    margin-left: 1px;
}

.hr1-card-align1 .likes__card>span {
    margin-top: 0px;
    margin-left: 0px;
}

.hr1-card-align1 .comment__card>i {
    margin-top: 2.7px;
    /* margin-left: 1px; */
}

.hr1-card-align1 .comment__card>span {
    margin-top: 0px;
    margin-left: 0px;
}

.img-txt2 {
    margin-top: 243px;
}

.img-txt2 a {
    color: #dfdfdf;
}

.img-txt2 .blog-caption {
    padding-top: 1px;
}

.card-img-align {
    margin-left: 153px;
}

.card-cmnt1 {
    margin-top: 1px;
}

.hr-user-content a {
    color: #000000;
}

/*------------------------------------------------  */

.right-body-container {
    background-color: white;
    margin-left: 42px;
    padding-right: 100%;
}

.custom-search-bar {
    margin-top: 25px;
    margin-left: 38px;
}

.custom-search-bar input {
    padding: 13px 100px 13px 13px;
    border-radius: 19.2px;
    background-color: #f0f0f0;
    border: none;
}

.custom-search-bar {
    position: relative;
    display: inline-block;
}

.coloured-searchicon {
    position: absolute;
    left: 85%;
    top: 8%;
    background-color: #ff4081;
    color: white;
    border-radius: 50%;
    padding: 5px 6px 5px 5px;
}

input::placeholder {
    font-size: 16.2px;
    padding-left: 7px;
}

.r-container {
    padding: 25px 0px 24px 30px;
    background-color: white;
}

.r-heading {
    font-size: 19px;
    font-weight: 600;
    color: #3f51b5;
    margin-left: 7.2px;
    border-bottom: 1px solid #2962ff;
    padding-bottom: 5.2px;
    padding-right: 144px;
    margin-bottom: 12px;
}

.r-category-item span{
    font-family: 'Open Sans';
}

.r-category-item {
    font-size: 15px;
    margin: 0px 0px 0px 7px;
    padding-bottom: 11px;
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid #b9b9b9;
}


.r-category-item span:first-child{
    margin-top: 1px;
    font-size: 15px;
    font-weight: 500;
}


.r-category-item:not(:first-child) span {
    margin-top: 7px;
}

.r-category-item:nth-child(n + 3) {
    margin-bottom: 1px;
    margin-top: .8px;
}

.r-category-item span:last-child{
    margin-right: 1px;
}

.r-category-item:last-child {
    border: none;
}

.r-category-item a {
    color: #000000;
}

.r-subscribe {
    margin-top: 28px;
    margin-left: 1px;
}

.r-subscribe .r-heading {
    font-size: 19px;
}

.subscribe-container {
    padding-left: 6px;
}

.subscribe-container label {
    margin-bottom: 10px;
    font-family: 'Open Sans';
    letter-spacing: 1px;
}

.subscribe-container input {
    padding-bottom: 24px;
    margin-left: 1px;
}

.email-container {
    margin-top: 13.2px;
}

.email-container input{
    margin-top: 1px;
}

.subscribe-container input::placeholder {
    font-family: 'Open Sans';
    position: relative;
    top: 12.6px;
    letter-spacing: 1px;
    left: 7.5px;
}

/* .sub

.name-container label{
    letter-spacing: 1px;
} */

div.subscribe-button {
    margin-top: 10px;
    margin-left: 2px;
}

button.subscribe-button {
    padding-bottom: 12px;
    padding-top: 11.2px;
    font-weight: 600;
    padding-left: 88px;
    padding-right: 78px;
    font-size: 17px;
    background-color: #3f51b5;
    border-radius: 5px;
    color: white;
    border: none;
}

.or-txt {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-top: 10px;
    color: #000000;
}

.or-txt:before,
.or-txt:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.or-txt:before {
    margin-right: 6px;
    margin-top: 14px;
    margin-left: 3px;
}

.or-txt:after {
    margin-left: 9px;
    margin-top: 14px;
}

.subscribe-icons {
    margin-top: 18px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #3b5999;
    color: white;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-right: 9px;
    padding-bottom: 8px;
    padding-top: 9.2px;
}

.subscribe-icons .twitter {
    background-color: #55acee;
    margin-left: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.subscribe-icons .vk {
    background-color: #4c75a3;
    margin-left: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.subscribe-icons .pn {
    background-color: #ff2e56;
    margin-left: 1px;
    margin-right: 0px;
}

.subscribe-icons .tmb {
    background-color: #34465d;
    margin-left: 8px;
}

.subscribe-icons .dr {
    background-color: #ea4c89;
}

.post-heading {
    font-size: 18px;
    padding-right: 10px;
    margin-top: 43.3px;
    padding-bottom: 6.2px;
}

.post-buttons {
    display: flex;
    margin-left: 7px;
}

.post-buttons button.active-buttons {
    background-color: #3f51b5;
    color: white;
}

.post-buttons button {
    padding: 13px 10px 11px 25px;
    background-color: white;
    color: #3f51b5;
    font-size: 12px;
    margin-top: 7px;
    border: 1.1302083333333333px solid #3f51b5;
}

.post-buttons button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 23px;
}

.post-buttons button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 19px;
    padding-right: 18px;
}