@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

a {
    color: #6e6e6e;
}


/* Unique Clases */
.custom-width{
    width: 1170px;
}

.custom-d-flex {
    display: flex;
}

.custom-d-flex-col {
    flex-direction: column;
}

.custom-j-cen {
    justify-content: center;
}

.custom-j-sb {
    justify-content: space-between;
}

.custom-j-sa {
    justify-content: space-around;
}

.custom-a-cen {
    align-items: center;
}

/* ------------ */

.custom-container {
    background-color: #191919;
}

.custom-nav {
    width: 1170px;
    height: 40px;
    background-color: #191919;
    margin-left: 17px;
}

.custom-left-icons {
    width: 230px;
    margin-top: 2px;
    font-size: 17px;
}

.custom-left-icons i {
    color: #6e6e6e;
}


.vertical-line-divider {
    height: 20px;
    width: 1px;
    margin-left: 2px;
    background-color: #6e6e6e;
}

.custom-right-icons {
    width: 164px;
    color: #6e6e6e;
    margin-top: 3px;
    font-size: 12px;
}

.custom-right-icons i {
    font-size: 19px;
}

.custom-right-icons p {
    margin-top: 2px;
}

a{
    text-decoration: none;
}


.sign-container p {
    margin-left: 4px;
    margin-top: 3px;
    color: #6e6e6e;
    font-weight: 600;
}

.language-container {
    width: 64px;
}

.language-container p {
    margin-left: 4px;
    font-weight: 600;
    margin-top: 3px;
}

/* ----------------------- */


.custom-bottom-nav {
    background-image: url(public/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 63px;
}

.lower-nav-icons a:nth-child(2){
    border-left: 1px solid red;
    border-right:1px solid red;
}

.custom-nav-list{

}